<div id="{{_ID_}}" class="button js-comp" style="{{_STYLE_}}" data-behavior="{{_BEHAVIOR_}}" data-comp-path="{{_COMP_PATH_}}">
  <span class="content" data-href="{{link}}">{{#if content}}{{content}}{{else}}按钮{{/if}}</span>
</div>
