{{#component "account-main"}}
         <div class="fund-nav">
       <li class="now"><a href="/account">账户首页</a></li>
       <li><a href="/individualCenter">个人中心</a></li>
       </div>
       <div class="cl"></div>
       <img src="/assets/sutongpay/air.png" width="1" height="23">
       
       
       <div class="fund-base">
       <div class="fl widfl"><img src="/assets/sutongpay/air.png" width="1" height="20">
       <div class="fund-flcon">
        <div class="fl">
       <div class="fundfontw"><img src="/assets/sutongpay/rmbicon.png" width="15" height="17">&nbsp;&nbsp;账户余额</div>
       <div><font class="mymoney">{{formatAmount _DATA_.balance}}</font>&nbsp;<font class="fyuan">元</font></div>
      
       </div>
       <div class="fr"><div>
       <div class="butn" id="recharge" name="recharge"><img src="/assets/sutongpay/air.png" width="1" height="14"><div class="cl"></div><img src="/assets/sutongpay/icon-chongzhi.png" width="36" height="36"><div>充值</div></div>
       <div class="butn" id="transfer" name="transfer"><img src="/assets/sutongpay/air.png" width="1" height="14"><div class="cl"></div><img src="/assets/sutongpay/icon-zhuanzhang.png" \><div>转账</div></div>
       <div class="butn" style="display:none"><img src="/assets/sutongpay/air.png" width="1" height="14"><div class="cl"></div><img src="/assets/sutongpay/icon-tixian.png"><div>提现</div></div>
       </div></div>
       <div class="cl"></div><img src="/assets/sutongpay/air.png" width="1" height="5"><div class="cl"></div>
       <div class="jif"><div class="fl"><img src="/assets/sutongpay/icon-jifen.png" width="18" height="18">&nbsp;&nbsp;积分</div><div class="fr">{{_DATA_.integralAvailableBalance}}</div> <div class="cl"></div></div><img src="/assets/sutongpay/air.png" width="1" height="5"><div class="cl"></div>
       </div>
       </div>
       <div class="fr  widfr"><img src="/assets/sutongpay/air.png" width="1" height="20"><div class="cl"></div><div class="ac"><img  class="pho" src="/assets/sutongpay/pic.png" width="71" height="69"><div class="w19">速通支付</div><div class="cl"></div><img src="/assets/sutongpay/air.png" width="1" height="5"><div class="cl"></div><div class="infnews"><div class="fl li" onclick="window.location.href='/api/security/result'"><div class="fl"><img src="/assets/sutongpay/icon-renz.png" width="30" height="22"> {{#equals _DATA_.realname "4"}}&nbsp;&nbsp;高级实名认证{{else}}
          <a  href="/api/security/result">&nbsp;&nbsp;申请高级实名认证</a>
          {{/equals}}</div><div class="fr"><img src="/assets/sutongpay/ar-inforgo.png" ></div></div><div class="fr li" onclick="window.location.href='/individualCenter'"><div class="fl"><img src="/assets/sutongpay/icon-ka.png" ><a href="/individualCenter">&nbsp;&nbsp;绑定银行卡</a></div>
{{inject "official/sutongpay/account/account-main/bindCardNum" true}}
          <div class="fr"><img src="/assets/sutongpay/ar-inforgo.png" ></div></div>
       <div class="cl"></div>
       <div class="fl dl"><img src="/assets/sutongpay/tel.png" width="16" height="20">{{_DATA_.mobilePhone}}</div><div class="fr dl"><img src="/assets/sutongpay/iconzh.png" width="15" height="19">{{_DATA_.unifyId}}</div>
       <div class="cl"></div>
       </div>
         <img src="/assets/sutongpay/air.png" width="1" height="20"></div></div> 
       <div class="cl"></div>
       </div>
{{/component}}