{{#component "account-transaction"}}
<div class="fund-detail"> 
  <span class="tit">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ui-inside-tab01">
     <tr class="ui-instab-th">
      <td colspan="3" align="left">
        最近交易列表
        <span class="ui-acctitle01">
          <a class="ui-txt-a" href="/order/orderList">订单查询</a>
          |
          <a class="ui-txt-a" href="/order/rechargeLog">充值记录</a>
		        {{!-- |
		        <a class="ui-txt-a" href="/trade/cashapply">提现记录</a>
		        |
		        <a class="ui-txt-a" href="/trade/buycard">已购卡号</a> --}}
		      </span>
		    </td>
		    <td colspan="3" align="right">
          <a class="ui-txt-a ui-tabView" style="font-weight:100;" href="/order/orderList">查看所有交易记录</a>
        </td>
      </tr>
    </table>
  </span>
  <!--tit结束 -->
  <div class="cl"></div>
  <div class="tabcontent"> 
    <table cellpadding="0" cellspacing="0">
      <tr>
        <th>创建时间</th>
        <th>订单号</th>
        <th>交易类型</th>
        <th>交易金额(元)</th>
        <th>交易状态</th>
        <th>详情</th>
      </tr>
      {{#if _DATA_.data}}
      {{#each _DATA_.data}}
      <tr class="white">
       <td align="center">{{formatDate createTime "day"}}</td>
       <td align="center">{{orderReqTranSeq}}</td>
       <td align="center">
         {{#equals feeType "01"}}
         月票
         {{/equals}}
         {{#equals feeType "02"}}
         充值卡
         {{/equals}}
         {{#equals feeType "03"}}
         电子标签
         {{/equals}}
         {{#equals feeType "04"}}
         转账
         {{/equals}}
         {{#equals feeType "05"}}
         通用商品
         {{/equals}}
       </td>
       <td align="center"><strong class="font-org">{{formatAmount orderAmount}}</strong></td>
       <td align="center">
        {{#if status }}
        

        {{#equals status "1"}} 
        待支付
        {{/equals}}
        {{#equals status "2"}} 
        支付成功
        {{/equals}}
        {{#equals status "3"}} 
        支付失败
        {{/equals}}
        {{#equals status "4"}} 
        订单已受理
        {{/equals}}  
        {{#equals status "5"}}
        受理成功
        {{/equals}}
        {{#equals status "6"}}
        受理失败
        {{/equals}}
        {{#equals status "7"}}
        退款成功
        {{/equals}}
        {{#equals status "8"}}
        退款失败
        {{/equals}}
        {{#equals status "9"}}
        充值成功
        {{/equals}}
        {{#equals status "10"}}
        充值失败
        {{/equals}}
        {{/if }}
      </td>
      <td align="center"> 
        <a class="ui-txt-a" href="/api/order/detail?orderNo={{orderReqTranSeq}}&feeType={{feeType}}&orderSeq={{orderSeq}}&orderAmount={{orderAmount}}">详情</a>&nbsp;&nbsp;
        {{#equals status "1"}}
        {{#equals feeType "01"}}
        <a class="ui-txt-a" name ="cashout"  id="{{orderReqTranSeq}},{{feeType}},{{orderSeq}}">支付</a>
        {{/equals}}
        {{/equals}}
      </td>
    </tr>
    {{/each}}
    {{/if}}

  </table>
  {{#equals _DATA_.total 0}}
  <div class="ui-Transaction-none">
    <span class="ui-noneimg"></span>
    <span class="ui-nonetxt">亲，没有交易记录~</span>
  </div>
  {{/equals}}
</div>
<!--tabcontent结束 -->
</div>
{{/component}}