<div id="{{_ID_}}" class="page_footer page_part js-comp" style="{{_STYLE_}}" data-comp-path="{{_COMP_PATH_}}">
    <div class="inner" id="foot_inner">
        {{{_CHILDREN_}}}
    </div>
    {{{_ROW_CHILDREN_}}}
</div>
