<div id="{{_ID_}}" class="video js-comp" style="{{_STYLE_}}" data-comp-path="{{_COMP_PATH_}}">
  <iframe class="video-iframe" width="100%" height="100%" src="{{#if src}}{{src}}{{else}}http://www.youtube.com/embed/aMFLoLLHp_M{{/if}}" frameborder="0" allowfullscreen>
  </iframe>
</div>
