<div id="{{_ID_}}" class="image js-comp" style="{{_STYLE_}}" data-comp-path="{{_COMP_PATH_}}">
    {{#if link}}<a href="{{link}}">{{/if}}<img style="{{#innerStyle _STYLE_}}{{/innerStyle}}" src="{{#if image}}{{image}}{{else}}/assets/bg.gif{{/if}}">{{#if link}}</a>{{/if}}
</div>
